@mixin text(
            $font-size: 26px,
            $letter-spacing: 0.26px,
            $text-transform: capitalize,
            $font-family: Chilanka,
            $font-style: normal,
            $font-weight: 400
) {
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
}

@mixin border() {
  border: 1px solid red;
}

@mixin mt($mt: 150px) {
  margin-top: $mt;
}

