html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #41403e;
  font-family: Chilanka;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}

.container-fluid {
  padding: 0;
}

h1 {
  font-family: Chilanka;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2.64px;
  text-transform: capitalize;
}

h2 {
  font-family: Chilanka;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  font-family: Chilanka;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.55px;
  text-transform: capitalize;
}

h4 {
  font-family: Chilanka;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}

.logo {
  display: flex;
}
.logo_icon {
  width: 57px;
  height: 57px;
  fill: #dead6f;
}
.logo_wrap {
  display: flex;
  flex-direction: column;
}
.logo_title {
  color: #41403e;
  font-family: Chilanka;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.logo_text {
  color: #a3a2a1;
  font-family: Syne;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: capitalize;
}

.header {
  height: 200px;
  border: 1px solid red;
}

.quotes {
  margin-top: 150px;
}
.quotes_slider {
  padding: 61px 0 0;
}
.quotes_marks {
  color: #f7eee4;
  font-family: Syne;
  font-size: 600px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 80%;
}
.quotes_text {
  font-family: Chilanka;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1;
  text-transform: none;
  line-height: 150%;
}
.quotes_desc {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1;
  text-transform: capitalize;
}
.quotes .carousel-indicators {
  position: static;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-top: 50px;
  margin-left: 0;
  margin-top: 50px;
}
.quotes .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border: 1px solid #41403e;
  border-radius: 50%;
}
.quotes .carousel-indicators .active {
  background: #41403e;
}

.slider-best {
  width: 100%;
  height: 871px;
}

.categories {
  margin-top: 150px;
  color: #41403e;
  font-family: Chilanka;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}
.categories_item {
  width: 100%;
  height: 100%;
}
.categories_img {
  width: 100px;
}
.categories_title {
  margin-top: 16px;
}

.btn-outline-secondary {
  --bs-btn-border-color: rgba(65, 64, 62, 0.2);
  padding: 0;
}

.my-card {
  width: calc(100% - 1px);
  margin-top: 30px;
}
.my-card_thumb {
  position: relative;
  width: 100%;
  height: 283px;
  padding: 14px 0;
  background: #eeebe5;
  overflow: hidden;
  border-radius: 10px;
}
.my-card_thumb-btn {
  position: absolute;
  top: 14px;
  left: 14px;
  padding: 4px 8px 0 8px;
  font-family: Chilanka;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}
.my-card_title {
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.my-card_rating {
  margin-top: 7.5px;
}
.my-card_rating-star {
  fill: #dead6f;
}
.my-card_rating-count {
  color: #908f8d;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: capitalize;
  margin-left: 4px;
}
.my-card_price {
  color: #dead6f;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}
.my-card_price small {
  margin-right: 7px;
  color: #908f8d;
  text-decoration: line-through;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.26px;
  text-transform: capitalize;
}
.my-card_links {
  margin-top: 18px;
}
.my-card_btn {
  padding: 10px 12px 4px;
  color: #41403e;
  font-family: Chilanka;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  border-radius: 4px;
}
.my-card_favorite {
  margin-left: 5px;
  padding: 8px 12px;
}
.my-card_favorite svg {
  width: 16px;
  height: 13px;
  fill: #41403e;
}

.pet-product {
  margin-top: 150px;
}
.pet-product_shop-all {
  width: 100%;
  height: 100%;
  padding: 18px 10px;
  color: #41403e;
  font-family: Chilanka;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  border: 1px solid rgba(65, 64, 62, 0.2);
  border-radius: 4px;
}
.pet-product_shop-all svg {
  width: 18px;
  height: 18px;
  fill: #41403e;
}
.pet-product_nav a {
  text-decoration: underline;
  text-decoration-color: rgba(65, 64, 62, 0.2);
  text-underline-offset: 10px;
}
.pet-product_nav .active {
  text-decoration-color: #dead6f;
}

.sale {
  margin-top: 170px;
  background: #f9f3ec;
}
.sale_img {
  margin-left: 30px;
}
.sale_upto {
  color: #dead6f;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: capitalize;
}
.sale h2 {
  margin-top: 30px;
}
.sale_btn {
  margin-top: 30px;
}
.sale_shop-all {
  padding: 28px 50px;
  color: #41403e;
  font-family: Chilanka;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  border: 1px solid rgba(65, 64, 62, 0.2);
  border-radius: 4px;
}
.sale_shop-all svg {
  width: 18px;
  height: 18px;
  fill: #41403e;
}

@media (min-width: 576px) {
  .sale_upto {
    margin-top: 120px;
  }
}
.sign-up {
  margin-top: 150px;
  background: #f9f3ec;
  height: 200px;
}

/*# sourceMappingURL=index.css.map */
